page-home {
    ion-card{
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 7%;
        padding-bottom: 7%;
        border-radius: 10px;
    }
    .card-md h3  {
        color: #557307;
        text-align: left;
        padding-bottom: 5%;
        padding-top: 5%;
        
      }

          
      .card-md p,ul{
        font-family: 'Segoe UI Semilight', 'Segoe UI', Segoe, Tahoma, Helvetica, Arial, sans-serif;
        color: black;

     
    }
    a{
        text-decoration: none;
    }
    
}
